{% extends widget.get_base_template %}

{% block content %}
<div id="{{ widget.fe_identifier }}-map" class="widget-maplocation-map" style="height: 100%"></div>

<script type="text/javascript">
//<![CDATA[

(function (){

    var initFn = function () {

        var styles = [
            {{ config.GOOGLE_MAPS_STYLES|safe }}
        ]
        
        var canvas = $("#{{ widget.fe_identifier }}-map");
        var location = new google.maps.LatLng({{ widget.latitude|escapejs|safe }}, {{ widget.longitude|escapejs|safe }});
        var zoom = {{ widget.zoom }};

        var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});
        var map_type = google.maps.MapTypeId.{{ widget.map|upper }};

        var options = { zoom: zoom, center: location, mapTypeControl: false,
                        mapTypeIds: [map_type, 'map_style'], scrollwheel:false };
        var map = new google.maps.Map(canvas.get(0), options);
        var marker = new google.maps.Marker({ position: location, map: map });

        {% if widget.title != '' %}
        {% if widget.description == '' %}
        var content = '<b>{{ widget.title|escapejs|safe }}</b>';
        {% else %}
        var content = '<b>{{ widget.title|escapejs|safe }}</b><br />{{ widget.description|escapejs|safe }}';
        {% endif %}
        var infoWindow = new google.maps.InfoWindow({content: content});
        infoWindow.open(map, marker);
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
        {% endif %}


        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');

        google.maps.event.addListener(map, 'click', function(event){
            this.setOptions({scrollwheel:true});
         });
        google.maps.event.addListener(map, 'mouseout', function(event){
            this.setOptions({scrollwheel:false});  
        });
    };

    loadResource({src:"https://maps.googleapis.com/maps/api/js?key={{ config.GOOGLE_MAPS_API_KEY }}", async:true, defer:true, callback: initFn});

}());

//]]>

</script>

{% endblock %}
