{% extends widget.get_base_template %}
{% load staticfiles %}

{% block content %}
<div id="mapid" class="leaflet-map" style="height: 100%"></div>
<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mapbox-gl.css' %}">
<script type="text/javascript" src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/mapbox.js' %}"></script>
<script src="{% static 'js/mapbox-gl.js' %}"></script>
<script src="{% static 'js/leaflet-mapbox-gl.js' %}"></script>

<script type="text/javascript">

$(function(){

  if ($(".modal-body .leaflet-map").css("display") != "block") {
    var leafletMap = L.map('mapid').setView([{{ widget.latitude|safe }}, {{ widget.longitude|safe }}], {{ widget.zoom }});
    
    L.mapbox.accessToken = 'pk.eyJ1IjoiZHJlc2wiLCJhIjoiY2puMXJyeHV2MmQ0dDNwbm8wMnYwaHFnayJ9.zIfQBRd_qmQBv3di56q9ww';
    
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      maxZoom: 20,
      id: 'mapbox.streets',
      accessToken: '{{ config.LEAFLET_ACCESS_TOKEN }}',
    }).addTo(leafletMap);
    
    {% if config.LEAFLET_MAPBOX_STYLES != '' %}
    L.mapbox.styleLayer('{{ config.LEAFLET_MAPBOX_STYLES }}').addTo(leafletMap);
    {% endif %}
    
    var marker = L.marker([{{ widget.latitude|safe }}, {{ widget.longitude|safe }}]).addTo(leafletMap);
    {% if widget.title != '' %}
    marker.bindPopup("<b>{{ widget.title|escapejs|safe }}</b><br />{{ widget.description|escapejs|safe }}").openPopup();
    {% endif %}
  }
});

</script>

{% endblock %}
